:root {
    --primary-color: #dcdfec;
    --secondary-color: #2a607c;
    --tertiary-color: #00CED1;
    --hover-color: #000000;   
}

    /* removing default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- Start Body style ------------- */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
}
/* ------------- Finish Body style ------------- */

/* ------------- Start header style ------------- */


/* applying styles to <header> */
header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    border: tomato solid ;

}

header h1 a {
    font-size: 2.5rem;
    margin-top: auto;
    color: var(--primary-color); 
    border: tomato solid ;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin-top: 30px;
    border: green solid ;
}

header nav ul li {
    padding: 10px;
    font-weight: lighter;
    font-size: 1.55rem;
    margin-top: auto;
    border: yellow solid ;
}

header nav ul li a {
    /* padding: 10px; */
    font-weight: lighter;
    font-size: 1.55rem;
    /* margin-top: auto; */
    border: tomato solid ;
    color: var(--primary-color);
    /* text-decoration: ; */
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
}

/* ------------- Finish header style ------------- */

/* ------------- Start Hero style ------------- */

/* Defining hero settings */
.hero-ctnr {
    background-image: url("../images/bg-image.jpg");
    background-position:center;
    background-size:cover;
    /* background-repeat: no-repeat; */
    height: 250px;
    border: green solid; 
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;  */
    justify-content: right; 
}

.hero-ctnr-text {
    border: tomato solid ;
    align-self: flex-end;
}

.hero-ctnr-text h2 {
    font-size: 2.50rem;
    color: var(--primary-color);
    text-shadow: 4px 4px black;
}


/* Adding portfolio styles */

.pf-ctnr {
    border: orange 4px solid; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    height: auto;
    width: 100%;
    line-height: 1.5;
}

.pf-ctnr-about, .pf-ctnr-work, .pf-ctnr-contact {
    border: black 4px solid; 
    display: flex;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/* .pf-ctnr-boxes */

.pf-ctnr-side {
    border-right-style: solid;
    border-color: grey;
    border-width: 6px;
    padding: 10em;
    width: 200px;
    height: auto;
    text-align: right;
}

.pf-ctnr-text, .pf-ctnr-boxes, .pf-ctnr-contact-info {
    border: yellow 4px solid;
    padding: 10px;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.pf-ctnr-text-title {
    border: #00CED1 4px solid;
    width: 70%;
}

.pf-ctnr-text p, .pf-ctnr-text-title h4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    border: #000000 4px solid;
    padding: 20px;
}

.pf-ctnr-img img {
    border: palevioletred 5px solid;
    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    object-fit: cover;
}



.pf-ctnr-main-box {
    border: #000000 4px solid;
    width: 95%;
    height: 200px;
    margin: 20px 28px;
    display: flex;
    align-items: end;
}


.pf-ctnr-box {
    border: black 4px solid; 
    margin: 20px;
    width: 45%;
    height: 100px;
    display: flex;
    align-items: flex-end;
}

/* 
.pf-ctnr-box1 {
    border: black 4px solid; 
    margin: 10px;
    width: 45%;
}

.pf-ctnr-box2 {
    border: black 4px solid; 
    margin: 10px;
    width: 45%;
}

.pf-ctnr-box3 {
    border: black 4px solid; 
    margin: 10px;
    width: 45%;
}

.pf-ctnr-box4 {
    border: black 4px solid; 
    margin: 10px;
    width: 45%;
} */

.pf-ctnr-contact-info {
    border: purple 4px solid; 
    justify-content: space-around;
}