:root {
    --primary-color: #dcdfec;
    --secondary-color: #2a607c;
    --tertiary-color: #00CED1;
    --hover-color: #000000;   
}

    /* removing default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- Start Body style ------------- */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
}
/* ------------- Finish Body style ------------- */

/* ------------- Start header style ------------- */


/* applying styles to <header> */
header {
    padding: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    border: tomato solid ;

}

header img {
    width: 100px;
    height: 90px;
}

header h1 {
    border: violet 3px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

header h1 a {
    font-size: 2rem;
    margin-top: auto;
    color: var(--primary-color); 
    border: lightgreen solid ;

}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    /* margin-top: 30px; */
    border: green solid ;
}

header nav ul li {
    padding: 10px;
    font-weight: lighter;
    font-size: 1.55rem;
    margin-top: auto;
    border: yellow solid ;
}

header nav ul li a {
    /* padding: 10px; */
    font-weight: lighter;
    font-size: 1.55rem;
    /* margin-top: auto; */
    border: purple solid ;
    color: var(--primary-color);
    /* text-decoration: ; */
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
}

/* ------------- Finish header style ------------- */

/* ------------- Start Hero style ------------- */

/* Defining hero settings */
.hero-ctnr {
    background-image: url("../images/bg-image.jpg");
    background-position:center;
    background-size:cover;
    /* background-repeat: no-repeat; */
    height: 250px;
    border: greenyellow solid; 
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;  */
    justify-content: right; 
}

.hero-ctnr-text {
    border: rebeccapurple solid ;
    align-self: flex-end;
}

.hero-ctnr-text h2 {
    font-size: 2.50rem;
    color: var(--primary-color);
    text-shadow: 4px 4px black;
}


/* Adding portfolio styles */

.pf-ctnr {
    border: orange 4px solid; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    height: auto;
    width: 100%;
    line-height: 1.5;
}

.pf-ctnr-about, .pf-ctnr-work, .pf-ctnr-contact {
    border: black 4px solid; 
    display: flex;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around; 
}


.pf-ctnr-boxes {
    border: green 4px solid; 
    padding: 1em;
    width: 80%;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.pf-ctnr-boxes a  {
    /* width: auto; 
    border: #00CED1 5px solid;
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;
    justify-content: space-between; */
} 


/* .link {
    border: yellow 14px solid;
    position: absolute; 
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 1; 
    width: 100%;
    height: 300px;
    margin: 20px 28px; 
} */



.pf-ctnr-side {
    border-right-style: solid;
    border-color: grey;
    border-width: 6px;
    padding: 1em;
    width: 200px;
    height: auto;
    text-align: right;
}

.pf-ctnr-text, .pf-ctnr-contact-info {
    border: burlywood 4px solid;
    padding: 1em;
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.pf-ctnr-text-title {
    border: #00CED1 4px solid;
    width: 70%;
}

.pf-ctnr-text p, .pf-ctnr-text-title h4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    border: #000000 4px solid;
    padding: 20px;
}

.pf-ctnr-img img {
    border: palevioletred 5px solid;
    max-width: 400px;
    max-height: 400px;
    padding: 1em;
    object-fit: cover;
    border-radius: 50%;
}

.pf-ctnr-main-box {
    border: #000000 4px solid;
    width: 98%;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.pf-ctnr-box {
    border: black 4px solid; 
    margin: 20px;
    width: 45%;
    height: 180px;
    display: flex;
    align-items: flex-end;
    background-position:center;
    background-size:cover;
    opacity: .6;

}

.pf-ctnr-boxes-borders {
    padding: 0.2em;
    width: 200px;
    border-radius: 10px 10px 10px 0;
    border: brown 3px solid;
    background-color: #90c3dd;
}


#pf-ctnr-box0 {
    background-image: url("../images/run-buddy2.jpeg");
    /* width: 100%; */
}

#pf-ctnr-box0 a {
    border: #00CED1 10px solid;
    width: 73%;
    height: 300px;
    position: absolute;
}


#pf-ctnr-box1 {
    background-image: url("../images/horiseon.jpg");
    width: 45%;
}

#pf-ctnr-box2 {
    background-image: url("../images/fisioemcasa.jpeg");
    width: 45%;

}

#pf-ctnr-box3 {
    background-image: url("../images/oficina-tortas.jpeg");
    width: 45%;
}

#pf-ctnr-box4 {
    background-image: url("../images/marliese-streefland-2l0CWTpcChI-unsplash.jpg");
    width: 45%;
}

#pf-ctnr-box1 a, #pf-ctnr-box2 a, #pf-ctnr-box3 a, #pf-ctnr-box4 a {
    border: #00CED1 10px solid;
    width: 34%;
    height: 180px;
    position: absolute;
}

.pf-ctnr-contact-info {
    border: purple 4px solid; 
    justify-content: space-around;
}

footer h3, footer div {
    font-size: 1rem;
    text-align: center;
    opacity: 0.4;

}

/* Hides profile image when width is higher than 768px */
@media screen and (min-width:768px) {
    #small {
        display: none;
    }
}

/* Adjust the site to resolutions lower than 768px */
@media screen and (max-width:768px) {
    header {
        display: block;
    }
    
    header nav ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .hero-ctnr {
        border: yellow solid ;
        display: flex;
        justify-content: center;
    }
    .pf-ctnr-side {
        border-right-style: none;
        border-bottom-style: solid;
        border-color: grey;
        border-width: 6px;
        padding: 0em;
        text-align: center;
        margin-bottom: 1em;
    }

    .pf-ctnr-text, .pf-ctnr-boxes, .pf-ctnr-contact-info {
        border: burlywood 4px solid;
        padding: 0.2em;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

   #pf-ctnr-box0 a, #pf-ctnr-box1, #pf-ctnr-box2, #pf-ctnr-box3, #pf-ctnr-box4 {
        width: 100%;
    }

    #pf-ctnr-box0 a, #pf-ctnr-box1 a, #pf-ctnr-box2 a, #pf-ctnr-box3 a, #pf-ctnr-box4 a {
        width: 77%;
    }

    .pf-ctnr-text-title {
        border: #00CED1 4px solid;
        width: 100%;
    }

    .pf-ctnr-text p {
        text-align: justify;
    }
    
    #pf-about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    #small img {
        border: palevioletred 5px solid;
        border-radius: 50%;
        max-width: 160px;
        max-height: 160px;
        object-fit:fill;
    }

    #large  {
        display: none;
    }

    .pf-ctnr-main-box, .pf-ctnr-box {
        margin: 10px 0;
        width: 100%;
    }

}


